<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>-->
    <script src="assets/dist/js/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">-->
    <link rel="stylesheet" href="assets/dist/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/dist/css/style.css">
    <title>Food</title>
</head>
<body>

    <div id="app" class="wrapper">

        <header>

            <div class="container">

                <div class="wrapper py-2">

                    <div class="header-top d-flex justify-content-between">

                        <a href="#">Download App</a>

                        <div class="social">

                            <ul class="list-unstyled d-flex">
                                <li class="ml-3 ml-sm-4" v-for="(el, index) in socialList" :key="index">
                                    <a class="pb-sm-2" :href="el.href">
                                        <i class="fab" :class="el.icon"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="header-logo d-flex justify-content-center pb-md-3">

                        <img src="img/header/logo/avada-food-logo.png" alt="avada food">

                    </div>

                    <nav class="flex-md-row flex-md-wrap justify-content-md-center align-items-md-center" ref="nav">

                        <div class="nav-toggler d-md-none">
                    
                            <span class="menu-icon material-icons-outlined md-30"
                                  @click="toggleNav">
                                menu
                            </span>
    
                            <span class="close-icon material-icons-outlined md-30"
                                  @click="toggleNav">
                                close
                            </span>
    
                        </div>

                        <div class="navbar-links d-md-flex flex-md-row">

                            <a v-for="link in navLinks" :key="link.text"
                               class="nav-link py-md-2 px-md-3 px-0 mx-lg-2 py-lg-3 px-lg-4" :href="link.href">
                               {{ link.text }}
                            </a>

                        </div>

                        <div class="search position-relative d-md-block">

                            <span class="search-icon material-icons-outlined position-absolute">
                                search
                            </span>

                            <span id="close-icon" class="material-icons-outlined position-absolute"
                                  v-show="stringToSearchFor"
                                  @click="onCloseClick">
                                close
                            </span>
                            
                            <input type="text"
                                   ref="searchInput"
                                   v-model="stringToSearchFor"
                                   @keyup.esc="stringToSearchFor = ''"
                            @keyup.enter="stringToSearchFor = ''">

                        </div>

                    </nav>

                </div>

            </div>

            <section class="hero position-relative">

                <img :src="pickOfTheDay.img" :alt="pickOfTheDay.text">

                <div class="pick-of-the-day rounded-lg position-absolute">

                    <div class="content pt-3 text-center position-relative">

                        <h2 class="font-serif text-capitalize">
                            {{ pickOfTheDay.text }}
                        </h2>

                        <span class="font-serif text-muted">
                            {{ getDate(pickOfTheDay.date) }}
                        </span>

                        <div class="position-absolute rounded-lg">
                            <span class="text-uppercase">
                                <strong>Today's pick</strong>
                            </span>
                        </div>

                    </div>

                </div>

            </section>

        </header>

        <main>

            <div class="container">

                <div class="wrapper">

                    <section class="foodie-journal text-center position-relative">

                        <div class="d-flex align-items-center">

                            <div class="h-rule flex-grow-1"></div>

                            <span class="text-uppercase">
                                Foodie journal
                            </span>

                            <div class="h-rule flex-grow-1"></div>
                            
                        </div>

                        <div class="row row-cols-1 row-cols-md-3">

                            <div v-for="el in foodieJournal" :key="el.id" class="col">

                                <div class="card">

                                    <img :src="el.img" class="card-img-top" :alt="el.title">

                                    <div class="card-body pb-0">

                                        <h5 class="card-title font-serif text-capitalize">
                                            {{ el.title }}
                                        </h5>

                                        <div class="small text-muted">

                                            <span>
                                                By {{ el.author }} | {{ getDate(el.date) }}
                                            </span>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </section>

                    <section class="popular-recipes">

                        <div class="section-title row justify-content-md-center">

                            <div class="col col-md-5 text-center">

                                <h5 class="text-uppercase">Popular recipes</h5>

                                <span class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni expedita atque nobis porro facilis eos.</span>

                            </div>

                        </div>
                        
                        <div class="row row-cols-1 row-cols-md-2">

                            <div id="selected-recipe" class="col">

                                <div class="card card-lg">

                                    <img :src="selectedRecipe.img" class="card-img-top" :alt="selectedRecipe.title">

                                    <div class="card-body p-4">

                                        <h5 class="card-title font-serif text-capitalize mb-0">
                                            {{ selectedRecipe.title }}
                                        </h5>

                                        <div class="d-flex align-items-center">
                                            <div class="h-rule flex-grow-1"></div>
                                        </div>

                                        <span class="d-block text-muted text-justify">
                                            {{ selectedRecipe.text }}                         
                                        </span>

                                        <a href="#" class="btn orange text-uppercase" role="button">Learn more</a>

                                    </div>

                                </div>

                            </div>

                            <div class="recipes-previews col">

                                <div class="row row-cols-2">

                                    <div v-for="(recipe, index) in popularRecipes" :key="recipe.id" class="col">

                                        <div class="card" @click="select(index)">

                                            <a href="#selected-recipe">
                                                <img class="img-fluid"
                                                     :src="recipe.img"
                                                     :alt="recipe.title"
                                                :title="recipe.title">
                                            </a>
                                        </div>
                                        
                                    </div>

                                </div>

                            </div>

                        </div>

                    </section>
                    
                </div>

            </div>

        </main>

    </div>

    <script src="assets/dist/js/foodie-journal.js"></script>
    <script src="assets/dist/js/popular-recipes.js"></script>
    <script src="assets/dist/js/app.js"></script>
</body>
</html>