<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>-->
    <script src="assets/dist/js/vue/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">-->
    <link rel="stylesheet" href="assets/dist/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/dist/css/style.css">
    <title>Food</title>
</head>
<body>

    <div id="app" class="wrapper">

        <header>

            <div class="container">

                <div class="wrapper py-2">

                    <div class="header-top d-flex justify-content-between">

                        <a href="#">Download App</a>

                        <div class="socials">

                            <ul class="list-unstyled d-flex">
                                <single-social v-for="(social, index) in socialList"
                                               :social="social" :key="index">
                                </single-social>
                            </ul>

                        </div>

                    </div>

                    <div class="header-logo d-flex justify-content-center pb-md-3">

                        <img src="img/header/logo/avada-food-logo.png" alt="avada food">

                    </div>

                    <nav class="flex-md-row flex-md-wrap justify-content-md-center align-items-md-center" ref="nav">

                        <div class="nav-toggler d-md-none">
                    
                            <span class="menu-icon material-icons-outlined md-30"
                                  @click="toggleNav">
                                menu
                            </span>
    
                            <span class="close-icon material-icons-outlined md-30"
                                  @click="toggleNav">
                                close
                            </span>
    
                        </div>

                        <div class="navbar-links d-md-flex flex-md-row">

                            <navbar-link v-for="link in navLinks"
                                         :text="link.text"
                                         :key="link.text"
                                         :href="link.href">
                            </navbar-link>

                        </div>

                        <div class="search position-relative d-md-block">

                            <span class="search-icon material-icons-outlined position-absolute">
                                search
                            </span>

                            <span id="close-icon" class="material-icons-outlined position-absolute"
                                  v-show="stringToSearchFor"
                                  @click="onCloseClick">
                                close
                            </span>
                            
                            <input type="text"
                                   ref="searchInput"
                                   v-model="stringToSearchFor"
                                   @keyup.esc="stringToSearchFor = ''"
                            @keyup.enter="stringToSearchFor = ''">

                        </div>

                    </nav>

                </div>

            </div>

            <section class="hero position-relative">

                <img :src="pickOfTheDay.img" :alt="pickOfTheDay.text">

                <div class="pick-of-the-day rounded-lg position-absolute">

                    <div class="content pt-3 text-center position-relative">

                        <h2 class="font-serif text-capitalize">
                            {{ pickOfTheDay.title }}
                        </h2>

                        <span class="font-serif text-muted">
                            {{ (pickOfTheDay.moment_date) }}
                        </span>

                        <div class="position-absolute rounded-lg">
                            <span class="text-uppercase">
                                <strong>Today's pick</strong>
                            </span>
                        </div>

                    </div>

                </div>

            </section>

        </header>

        <main>

            <div class="container">

                <div class="wrapper">

                    <section class="foodie-journal text-center position-relative">

                        <div class="d-flex align-items-center">

                            <div class="h-rule flex-grow-1"></div>

                            <span class="text-uppercase">
                                Foodie journal
                            </span>

                            <div class="h-rule flex-grow-1"></div>
                            
                        </div>

                        <div class="row row-cols-1 row-cols-md-3">

                            <!--<div v-for="(post, index) in foodieJournal" class="col">

                                <a class="text-reset text-decoration-none" href="#selected-post">
                    
                                    <div class="card" @click="selectPost(index)">
                    
                                        <img :src="post.img" class="card-img-top" :alt="post.title" :title="post.title">
                    
                                        <div class="card-body">
                
                                            <h5 class="card-title font-serif text-capitalize">
                                                {{ post.title }}
                                            </h5>
                
                                            <div class="small text-muted">
                
                                                <span>
                                                    By {{ post.author }} | {{ (post.moment_date) }}
                                                </span>
                
                                            </div>
                
                                        </div>
                    
                                    </div>
                    
                                </a>
                    
                            </div>-->

                            <div v-for="(post, index) in foodieJournal"
                                 :key="post.id"
                                 class="col"
                                 @click="select(index, post.source)">
                                    
                                <post-preview :post="post"
                                              :href="hrefPost">
                                </post-preview>

                            </div>

                        </div>

                    </section>

                    <section class="popular-recipes">

                        <div class="section-title row justify-content-md-center">

                            <div class="col col-md-5 text-center">

                                <h5 class="text-uppercase">Popular recipes</h5>

                                <span class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni expedita atque nobis porro facilis eos.</span>

                            </div>

                        </div>
                        
                        <div class="row row-cols-1 row-cols-md-2">

                            <div id="selected-recipe" class="col">

                                <single-post :source="selectedRecipe"></single-post>

                            </div>

                            <div class="recipes-previews col">

                                <div class="row row-cols-2">
                                    
                                    <!--<div v-for="(recipe, index) in popularRecipes" :key="recipe.id" class="col">

                                        <a href="#selected-recipe">

                                            <div class="card" @click="selectRecipe(index)">

                                                <img class="img-fluid"
                                                        :src="recipe.img"
                                                        :alt="recipe.title"
                                                :title="recipe.title">
                                            </div>

                                        </a>
                                        
                                    </div>-->

                                    <div v-for="(recipe, index) in popularRecipes"
                                         :key="recipe.id"
                                         class="col"
                                         @click="select(index, recipe.source)">
                                    
                                        <post-preview :post="recipe"
                                                      :href="hrefRecipe">
                                        </post-preview>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </section>

                    <section class="culinary-collection">

                        <div class="section-title row justify-content-md-center">

                            <div class="col col-md-5 text-center">

                                <h5 class="text-uppercase">Culinary collection</h5>

                                <span class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni expedita atque nobis porro facilis eos.</span>

                            </div>

                        </div>

                        <div class="row row-cols-2 row-cols-md-4">

                            <div v-for="(el, index) in culinaryCollection" :key="el.id" class="col">

                                <a class="wrapper align-items-center text-reset text-decoration-none" href="#">

                                    <img class="img-fluid"
                                            :src="el.img"
                                    :alt="el.text">

                                    <h5 class="text-center text-uppercase">{{ el.text }}</h5>

                                </a>
                                
                            </div>

                        </div>

                    </section>

                    <section class="farm-to-table">

                        <div class="section-title row flex-md-row align-items-md-start">

                            <div class="col col-md-5">

                                <h5 class="text-uppercase">Farm to table</h5>

                                <span class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni expedita atque nobis porro facilis eos.</span>

                            </div>

                            <div class="col d-flex justify-content-md-end">
                                <a href="#" class="btn orange text-uppercase" role="button">Read our blog</a>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-8">

                                <div class="row row-cols-1">

                                    <div id="selected-post" class="col">

                                        <single-post :source="selectedPost"></single-post>
        
                                    </div>                               

                                    <div class="posts-previews col">

                                        <div class="row row-cols-2 text-center">

                                            <!--<div v-for="(post, index) in farmToTableSliced" class="col">

                                                <a class="text-reset text-decoration-none" href="#selected-post">
                                    
                                                    <div class="card" @click="selectPost(index)">
                                    
                                                        <img :src="post.img" class="card-img-top" :alt="post.title" :title="post.title">
                                    
                                                        <div class="card-body">
                                
                                                            <h5 class="card-title font-serif text-capitalize">
                                                                {{ post.title }}
                                                            </h5>
                                
                                                            <div class="small text-muted">
                                
                                                                <span>
                                                                    By {{ post.author }} | {{ (post.moment_date) }}
                                                                </span>
                                
                                                            </div>
                                
                                                        </div>
                                    
                                                    </div>
                                    
                                                </a>
                                    
                                            </div>-->

                                            <div v-for="(post, index) in farmToTableSliced"
                                                 :key="post.id"
                                                 class="col"
                                                 @click="select(index, post.source)">
                                    
                                                <post-preview :post="post"
                                                              :href="hrefPost">
                                                </post-preview>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col">

                                        <button type="button"
                                                class="btn btn-block orange text-uppercase"
                                                @click="loadMorePosts"
                                                :disabled="!morePosts">
                                            {{ morePosts ? 'Load more posts' : 'No more posts' }}
                                        </button>

                                    </div>

                                </div>

                            </div>

                            <div class="col">

                                <div class="row row-cols-1">

                                    <div class="col">

                                        <a href="#selected-recipe" class="d-block text-reset">

                                            <img src="img/main/farm-to-table/ad-bg.jpg" alt="View our latest recipes" class="img-fluid">

                                            <span class="position-absolute-center text-uppercase text-center">
                                                View our latest recipes
                                            </span>

                                        </a>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </section>
                    
                </div>

            </div>

        </main>

    </div>

    <script src="assets/dist/js/farm-to-table.js"></script>
    <script src="assets/dist/js/popular-recipes.js"></script>
    <script src="assets/dist/js/culinary-collection.js"></script>
    <script src="assets/dist/js/vue/vue-components.js"></script>
    <script src="assets/dist/js/app.js"></script>
</body>
</html>