/*MAIN*/
main {
    background-color: #f6f7f1;

    .popular-recipes, .culinary-collection, .farm-to-table {
        padding: 50px 0;
    }

    .foodie-journal .card, .culinary-collection a, .farm-to-table .col-md-8 .col:not(#selected-post) {
        margin-bottom: ($bootstrap-col-px * 2);
    }
}